*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    outline: none;
    border: 0;
    background: transparent;
}

body{
    font-family: Gotham;
    font-size: 15px;
    background-color: #fafafa;
}