@font-face{
    font-family: "Gotham-Pro";
    src: url(../fonts/GothaProReg.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Gotham-Pro";
    src: url(../fonts/GothaProReg.otf);
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: "Gotham-Pro";
    src: url(../fonts/GothaProIta.otf);
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: "Gotham-Pro";
    src: url(../fonts/GothaProBol.otf);
    font-weight: 700;
    font-style: normal;
}